<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

<style>
.center{text-align: center;background-color:white}

</style>
<div class="center"><h2>Adel's Space</h2>
<hr>
JavaScript, NodeJS, React JS, JQuery, HTML/CSS, Bootstrap, MongoDB/mongoose
</div>
<div class="jumbotron text-center center">
  <img src="/image/1.JPG">
  </div>

  <div class="container center" >
    <a type="button" class="btn btn-lg btn-primary" href="https://evening-plains-83433.herokuapp.com/game/piggiegame"><span class="glyphicon glyphicon-download"></span>Fight Piggies</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://evening-plains-83433.herokuapp.com/game/tetrisgame"><span class="glyphicon glyphicon-download"></span>Tetris.......</a>
  </div>

</body>
</html>
