<html>
<head>
</head>
<body>
<style>
body{text-align:center}
#father{width:400px;height:600px;margin:0 auto;padding:0;border-style:solid;border-color:grey;position: relative;}
#headBar{width:400px;height:60px;margin:0;padding:0; top:0;background-color:grey;position:absolute;font-size: 15;}
#sendMoney{border-style:solid;border-color: lightgrey;width:318px;height:70px;margin-top: 100px;margin-left: 30px;margin-right: 30px;padding:10;top:60px;background-color:lightgrey;position:absolute;font-size: 15;}
#viewHistory{border-style:solid;border-color: lightgrey;width:318px;height:70px;margin-top: 100px;margin-left: 30px;margin-right: 30px;padding:10; top:220px;background-color:lightgrey;position:absolute;font-size: 15;}
#buttom{width:400px;height:60px;margin:0;padding:0; top:540px;background-color:grey;position:absolute;}
  .text1{color:white;}
  .text2{color:black;}
</style>
<div id="father">
 <div id="headBar" class="text1"><p></p><h2>What are we Doing</h2></div>
 <div id="sendMoney" class="text2"><p></p><h2><a href="/sendMoney">Send Money</a></h2></div>
 <div id="viewHistory" class="text2"><p></p><h2><a href="/viewHistory">View Transaction History</a></h2></div>
 <div id="buttom"></div>
</div>


<script src="/public/JS/jquery-3.1.1.min.js"></script>
</body>
</html>
